:root {
    --Product-card-background: #f9f6ee;
    --Product-card-border: rgba(128, 128, 128, 0.354);
    --My-Categories-background: #fffafa;
    --body-background: #efefe9;

    --body-background: #efefe9;
    --font-color: black;

    --body-background: linear-gradient(#efefe9, #d2d2d2);
    /* --font-color: #fff; */
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: var(--body-background);
    color: var(--font-color);
}

html {
    scroll-behavior: smooth;
}


/* navbar section */

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    width: 150px;
    height: 50px;
    overflow: hidden;
}

.navbar-brand>img {
    width: 100%;
    object-fit: contain;
    object-position: 0 -52px;
}

.hero {
    width: 100vw;
    aspect-ratio: 1/0.3;
    background-color: transparent;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 90%;
    height: 95%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.237);
    transition: all 0.5s ease;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.my-img {
    object-fit: cover;
    object-position: center;
}

/* About us section */

.aboutUsSec {
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d4d90;
    margin-inline: auto;
    border-radius: 10px 50px;
    color: #fff;
    margin-top: 10px;
}


/* categories section */

.title {
    display: flex;
}

.title>h3 {
    width: 100%;
}

.MyBtn {
    width: 80px;
    justify-self: flex-end;
    align-self: flex-end;
    color: #0d4d90;
    font-weight: 600;
    cursor: pointer;
}


.categories-section {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: scroll;
}

.categories-section::-webkit-scrollbar {
    display: none;
}

main {
    height: fit-content;
    overflow: hidden;
}

.menu {
    width: 100vw;
    height: fit-content;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}

.content {
    display: none;
}

.targetDivs {
    height: 100%;
}

.content.active {
    display: block;
}

.container-fluid {
    height: 100%;
    padding-bottom: 15px;
    overflow-y: scroll;
    padding: 0px;
    background-color: #0a1121;
    color: #ffffff;
}

.card-body {
    color: #000;
}

.container-fluid::-webkit-scrollbar {
    display: none;
}

.MyProductCard {
    height: 460px;
    background-color: var(--Product-card-background);
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 18px;
    overflow: hidden;
}

.MyProductCard>img {
    width: 95%;
    margin-inline: auto;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--Product-card-border);
}

.myProductCardText {
    font-size: 13px;
}

.myCategories {
    background-color: var(--My-Categories-background);
    border: 1px solid #000;
    margin-inline: 3px;
}

.card>img {
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.row {
    margin-top: 10px;
}

.MyCard {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    height: 450px;
    background: linear-gradient(90deg, #0c2457, #0f387d, #0d4d90);
}

.card:hover {
    cursor: pointer;
}

.categories {
    width: 30%;
    height: 100%;
}


.Mycontainer {
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 10px;
    justify-content: center;
}

.backgroundColor {
    background-color: transparent;
    border-top: 2px solid rgba(211, 211, 211, 0.477);
}

.Mycontainer::-webkit-scrollbar {
    display: none;
}

.menu-header {
    width: 95%;
    margin-inline: auto;
    text-align: center;
    margin-top: 10px;
}

#cat-header {
    margin-left: 20px;
}

.cat-width {
    width: 290px;
}

.cat-height {
    height: 200px;
}

/* Contact us section */

.contactUsSec {
    width: 90vw;
    height: 70vh;
    background: linear-gradient(90deg, #0c2457, #0f387d, #0d4d90);
    margin: 10px auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactUsImg {
    height: 85%;
    width: 70%;
    display: flex;
}

.formSection {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form>div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.form>div>label {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-left: 10px;
}

.fa-asterisk{
    font-size: 10px;
    color: red !important;
}

.form>div>input {
    margin: 0;
    border: 1px solid #91b4ff;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
}


.form>div>input::placeholder {
    color: #91b4ff;
}

.form>div>input:focus {
    outline-color: #310060;
    outline-style: solid;
}

.mySubmitBtn {
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}

.imgContainer {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer>img {
    animation: bounce 1s infinite alternate ease-out;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}


/*  footer  */

.footer {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

.footer-content {
    width: 95%;
    height: 90%;
    background: linear-gradient(0.25turn, rgb(96, 96, 96), black);
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid lightgray;
}

.map {
    height: 110%;
    width: 50%;
    clip-path: polygon(0 1%, 100% 0, 75% 100%, 0% 100%);
    border-radius: 20px 0px 20px 20px;
}


.card-header {
    /* background-color: red; */
    width: 95%;
    margin-inline: auto;
    border-radius: 20px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.name-tag {
    color: #eba10e;
}

.footer-contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.website-links>li>a {
    color: #eba10e;
}

/* media queries */

@media only screen and (max-width: 620px) {
    body {
        overflow-x: hidden !important;
    }

    .hero {
        height: 30vh;
    }

    .card {
        margin-top: 10px;
        margin-inline: auto;
    }

    .menu {
        margin-top: 0;
    }

    .menu-header {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-content {
        height: 100%;
        flex-direction: column;
        padding: 10px 10px;
    }

    .map {
        clip-path: none;
        width: 100%;
        /* clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%); */
        border-radius: 20px;
    }

    .footer-contact-details {
        flex-direction: column;
    }

    .website-links {
        display: none;
    }
}