:root {
    --Product-card-background: #f9f6ee;
    --Product-card-border: rgba(128, 128, 128, 0.354);
    --My-Categories-background: #fffafa;
    --body-background: #efefe9;

    --body-background: #efefe9;
    --font-color: black;

    --body-background: linear-gradient(180deg, #efefe9, #d2d2d2);
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: var(--body-background);
    color: var(--font-color);
}

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    width: 150px;
    height: 50px;
    overflow: hidden;
}

.navbar-brand>img {
    width: 100%;
    object-fit: contain;
    object-position: 0 -52px;
}


main {
    width: 100%;
    height: 100%;
}

.productDetails{
    width: 100%;
    height: 80vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper-container{
    width: 90%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
    display: flex;
    overflow: hidden;
}

.imgDisplay{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
}


.mainImg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    width: 85%;
    height: 95%;
    overflow: hidden;
}

.carousel-inner>div>img{
    width: 100%;
    object-fit: contain;
}


.text-container{
    width: 50%;
    height: 90%;
    padding: 10px;
}

.text-container>p{
    max-height: 90%;
    overflow-y: auto;
}


.MyContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-body {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MyProductCard {
    height: 460px;
    background-color: var(--Product-card-background);
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 14px !important;
    overflow: hidden;
}

.MyProductCard>img {
    width: 95%;
    margin-inline: auto;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--Product-card-border);
}

.card-title {
    text-align: center;
}

.myProductCardText {
    font-size: 13px;
    text-align: center;
}

.card>img {
    height: 250px;
    object-fit: cover;
    object-position: center;
}


.card:hover {
    cursor: pointer;
}
