:root {
    --Product-card-background: #f9f6ee;
    --Product-card-border: rgba(128, 128, 128, 0.354);
    --My-Categories-background: #fffafa;
}

body {
    overflow-x: hidden;
    background-color: #efefe9;
}

/* ::-webkit-scrollbar-track {
    background: red !important; 
  } */

.navbar {
    position: sticky !important;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    width: 150px;
    height: 50px;
    overflow: hidden;
}

.navbar-brand>img {
    width: 100%;
    object-fit: contain;
    object-position: 0 -52px;
}

.hero {
    width: 100vw;
    /* height: 65vh; */
    aspect-ratio: 1/0.3;
    background-color: transparent;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 90%;
    height: 95%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.237);
    transition: all 0.5s ease;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.my-img {
    object-fit: cover;
    object-position: center;
}

.menu {
    width: 100vw;
    height: 0;
    margin-top: 20px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.content {
    display: none;
}

.targetDivs {
    height: 100%;
}

.content.active {
    display: block;
}

.container-fluid {
    /* background-color: blue; */
    height: 100%;
    padding-bottom: 15px;
    overflow-y: scroll;
    padding: 0px;
    background-color: #0a1121;
    color: #ffffff;
}

.card-body {
    color: #000;
}

.container-fluid::-webkit-scrollbar {
    display: none;
}

.MyProductCard {
    height: 460px;
    background-color: var(--Product-card-background);
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 18px;
    overflow: hidden;
}

.MyProductCard>img {
    width: 95%;
    margin-inline: auto;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--Product-card-border);
}

.myProductCardText {
    font-size: 13px;
}

.myCategories {
    background-color: var(--My-Categories-background);
    border: 1px solid #000;
    margin-inline: 3px;
}

.card>img {
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.row {
    margin-top: 10px;
}

.MyCard {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    height: 450px;
    background: linear-gradient(90deg, #0c2457, #0f387d, #0d4d90);
}

.card:hover {
    cursor: pointer;
}

.categories {
    width: 100vw;
    max-height: 100vh;
}

.Mycontainer {
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 10px;
    justify-content: center;
}

.Mycontainer::-webkit-scrollbar {
    display: none;
}

.menu-header {
    width: 95%;
    margin-inline: auto;
    text-align: left;
    margin-top: 10px;
}

.cat-width {
    width: 290px;
}

.cat-height {
    height: 200px;
}

.aboutUsSec {
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d4d90;
    margin-inline: auto;
    border-radius: 10px 50px;
    color: #fff;
    margin-top: 10px;
}

.footer {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer-content {
    width: 97%;
    height: 95%;
    background-color: lightgray;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 620px) {
    body {
        overflow-x: hidden !important;
    }

    .hero {
        height: 30vh;
    }

    .card {
        margin-top: 10px;
        margin-inline: auto;
    }

    .menu {
        margin-top: 0;
    }

    .menu-header {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}